<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">

<head>
    <title>Home</title>
</head>

<body>

<div layout:fragment="content" class="container">
    <div>
        <h3>Current Projects</h3>
        <table class="striped">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Project Stage</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.name}" />
                    <td th:text="${project.stage}" />
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Current Employees</h3>
        <table>
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.firstName}" />
                <td th:text="${employee.lastName}" />
                <td th:text="${employee.email}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>