<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">

<head><title>Employees</title></head>

<body>

    <div layout:fragment="content">
        <form action="/employees/save" th:object="${employee}" method="POST">

            <div class="form-group">
                <input type="text" placeholder="First Name" th:field="*{firstName}" class="form-control">
            </div>

            <div class="form-group">
                <input type="text" placeholder="Last Name" th:field="*{lastName}" class="form-control">
            </div>

            <div class="form-group">
                <input type="email" placeholder="Email Address" th:field="*{email}" class="form-control">
            </div>

            <button type="submit" class="btn btn-light">Create Employee</button>

        </form>
    </div>

</body>

</html>