<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">

<head><title>Projects</title></head>

<body>

<div layout:fragment="content" class="container">
    <h3>Projects Directory</h3>
    <hr>

    <!--  Add New Project Button -->
    <a th:href="@{/projects/new}"
       class="btn btn-primary btn-sm mb-3">
        New Project
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Project Name</th>
            <th>Project Stage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.name}"/>
            <td th:text="${project.stage}"/>
        </tr>
        </tbody>

    </table>
</div>
</body>

</html>