<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">

<head><title>Projects</title></head>

<body>

    <div layout:fragment="content">
        <form action="/projects/save" th:object="${project}" method="POST">

            <div class="form-group">
                <input type="text" placeholder="Project Name" th:field="*{name}" class="form-control">
            </div>

            <div class="form-group">
                <select th:field="${project.stage}" class="form-control">
                    <option th:value="NOTSTARTED"> Not Started</option>
                    <option th:value="INPROGRESS"> In Progress</option>
                    <option th:value="COMPLETED"> Completed</option>
                </select>
            </div>

            <div class="form-group">
                <textarea type="text" placeholder="Enter Project Description" th:field="${project.description}" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <select th:field="${project.employees}" multiple="multiple" class="form-control">
                    <option th:each="employee : ${allEmployees}" th:value="${employee.employeeId}" th:text="${employee.fullName}" />
                </select>
            </div>

            <button type="submit" class="btn btn-light">Create Project</button>

        </form>
    </div>

</body>

</html>